@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/statusbar.css";

/* Screens */
@import "screens/login.css";

body {
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
}

.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}
